@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loadingSection .loadingSection-heading {
  position: absolute;
  top: 20%;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, white, white, #b2e1f6);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 5vw;
  font-family: "Love Ya Like A Sister", cursive;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}
@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 10px #fff;
  }
}
#loadingSection #loading {
  position: absolute;
  left: 52%;
  top: 60%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #217ab6;
  animation: spin 1.4s linear infinite;
}

.displaySwitch {
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Press Start 2P", system-ui;
  grid-template-rows: 1fr;
  text-align: center;
  position: relative;
  top: 0.3em;
  display: none;
  padding: 0px 30px 0px 30px;
  height: 0;
  animation-name: animatebottom;
  animation-duration: 1s;
}
.displaySwitch .displaySwitch--switch {
  position: relative;
  left: 18%;
  bottom: 15%;
  display: inline-block;
  width: 100px;
  height: 34px;
}
.displaySwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transition: 0.4s;
}
.displaySwitch input:checked + .slider:before {
  transform: translateX(66px);
}
.displaySwitch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.displaySwitch input:checked + .slider {
  background-color: #2196F3;
}
.displaySwitch input:focus + .slider {
  box-shadow: 5PX 5PX 3px #888888;
}
.displaySwitch .slider.round {
  border-radius: 34px;
}
.displaySwitch .slider.round:before {
  border-radius: 50%;
}

.displayNumber {
  font-size: 15px;
  padding: 40px;
  color: black;
  text-align: end;
}
.displayNumber .displayNumber--heading {
  padding: 20px;
  border: 3px solid black;
  font-family: "Press Start 2P", system-ui;
  box-shadow: 5px 5px #888888;
  border-radius: 10px;
}

.userOptions {
  position: relative;
  top: 3em;
  border-radius: 30px;
  margin: 20px;
}

.userOptions, .displayNumber {
  display: none;
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s;
}

.userOptions-rowEach {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 18px;
  padding: 20px 20px;
}
.userOptions-rowEach button {
  width: 90px;
  height: 85px;
  box-shadow: 5px 10px #676767;
  font-family: "Press Start 2P", system-ui;
  border-radius: 50%;
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
}
.userOptions-rowEach button:hover {
  filter: brightness(120%);
}
.userOptions-rowEach .userOptions-row--clear, .userOptions-rowEach .userOptions-row--pos-neg {
  background-color: grey;
  color: black;
}
.userOptions-rowEach .userOptions-row--operator, .userOptions-rowEach .userOptions-row--equals {
  background-color: rgb(193, 126, 2);
  color: white;
}
.userOptions-rowEach .userOptions-row--number, .userOptions-rowEach .userOptions-row--dot {
  background-color: #404040;
  color: white;
}
.userOptions-rowEach .percentage-key {
  background-color: grey;
  color: black;
}
.userOptions-rowEach .zero-key {
  grid-column: span 2;
  width: 95%;
  border-radius: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animatebottom {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@media screen and (min-width: 788px) {
  .calculator-body {
    margin: auto;
    padding: 40px;
    display: none;
    width: 35%;
    background-color: #bfbfbf;
    border: 2px solid grey;
    border-radius: 40px;
    box-shadow: 20px 30px 2px #545454;
    animation-name: animatebottom;
    animation-duration: 1s;
  }
  #loadingSection {
    width: 80%;
  }
  #loadingSection .loadingSection-heading {
    position: absolute;
    top: 24%;
    left: 23%;
    padding: 10px;
    background: 50% 10%/10% 50% no-repeat radial-gradient(ellipse at bottom, white, white, #b2e1f6);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-size: 2vw;
    font-family: "Love Ya Like A Sister", cursive;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
  }
  #loadingSection #loading {
    position: absolute;
    left: 52%;
    top: 60%;
  }
  .displaySwitch {
    position: inherit;
    top: 0em;
    padding: 0px 60px 20px;
    width: 100%;
    background-color: #8c8c8c;
    height: auto;
    border-radius: 0px 0px 20px 20px;
  }
  .displaySwitch .displaySwitch--switch {
    width: 6vw;
  }
  .displayNumber {
    border-radius: 20px 20px 0px 0px;
    background-color: #8c8c8c;
  }
  .displayNumber .displayNumber--heading {
    background-color: #e6ffe6;
  }
  .displayNumber .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .displayNumber .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 1vw;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  .userOptions {
    border-radius: 30px;
    padding: 0px 10px;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 1em;
    margin: 10px;
  }
  .userOptions .userOptions-rowEach button {
    width: 5.2vw;
    height: 85px;
    box-shadow: 5px 10px #676767;
    font-family: "Press Start 2P", system-ui;
    border-radius: 50%;
    padding: 10px;
    font-size: 22px;
  }
  .userOptions .userOptions-rowEach .zero-key {
    grid-column: span 2;
    width: 95%;
    border-radius: 50px;
  }
}/*# sourceMappingURL=style.css.map */